html {
    scroll-behavior: smooth; /* realiza un efecto de animacion al hacer scroll mediante los enlaces internos */
}
body {
    font-family: sans-serif;
}
h1 {
    color: blue;
}
h2 {
    color: blueviolet;
}
img, video {
    max-width: 100%;
    height: auto;
}
iframe {
    width: 80%;
    height: 400px;
}