.color-by-name {
    background-color: coral;
    color: rebeccapurple;
    border: thick solid black;
}
/* La página me puede ayudar a convertir el color que quiero
a otros valores que necesite
CMYK valor de color para imprimir, entonces el color
que hay en el softwer es el mismo que se imprimirá.
Microsoft utiliza rgb pero puede que al imprimir no sea exacto
rgb to hex 
*/

/* sistema hexadecimal
Tiene 16 digitos 0123456789ABCDEF
RGB (Medios digitales) - red green blue
vs 
CMYK (Medios impresos) - cyan magenta yellow key
Colores en HEX va a ser colores de 6 dígitos:
#FF6600(ff representa el canal del color red, 66 representa
el color del canal green, y el 00 representa el canal del color blue)
*/

.color-hex {
    background-color: #FF6600; /* No ocaciona problemas el que sea mayuscula o minuscula, pero es buena práctica en minuscula */
    background-color: #f60; /* cuando son iguales las parejas de digitos se puede simplificar */
    background-color: #ff6605; /* es otra variante aunque sea poquito */
    background-color: #00000050;
    color: rebeccapurple;
    border: thick solid #ffffff;
    border: thick solid #000000;
    border: thick solid #ff0000;/* podemos simplificar */
    border: thick solid #00ff00;
    border: thick solid #0000ff;
}
/* La apertura de colores puede ser desde 000000
hasta ffffff, es decir negro hasta rojo, esos colores
al 100% */

/* Sistema rgb 
Acepta 8 bits por canal
Bit (0/1) 2 elevado a la potencia 8 = 2*2*2*2*2*2*2*2=256
Por cada canal de color tenemos valores que van del 0 al 255
*/
.color-rgb {
    background-color: rgb(255, 255, 255); /* valores de 0 a 255 */
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);/* opacidad: canal Alfa, de 0 a 1 */
    color: rgb(82, 82, 224);
    border: thick solid black;
}

/* Sistema HSL 
HueSaturationLightness(Tono Saturación Luminosidad)
El primer valor es el Hue, el tono(circulo cromático)
0° -> red
60° -> yellow
120° -> green
180° -> cyan
240° -> blue
300° -> magenta

El segundo valor es la Saturation(Intensidad del color)
0% -> Escala de grises
100% -> El color puro 

El tercer valor es Lightness(liminosidad del color)
0% -> negro
50% -> es el color puro
100% -> blanco
*/
.color-hsl {
    background-color: hsl(0, 100%, 50%);
    background-color: hsl(120, 100%, 50%);
    background-color: hsl(240, 100%, 50%);
    background-color: hsl(30, 100%, 50%, 0.5); /* con el último parámetro le agrego opacidad */
    background-color: hsl(30, 100%, 50%, 0.75);
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    border: thick solid hsl(240, 75%, 65%);
}

/* Valor transparent:
color transparent es igual a aplicar rgb(0,0,0,0)
Valor currentColor: hereda el color por defecto o  
asignado de la propiedad color, del ancestro que tenga 
definida esta propiedad, busca del ancestro más cercano al más alejado
(cm el div no tiene color, busca al body, que tiene de color el texto negro)
*/
.color-transparent-current { /* suponiendo que en movil este el color y en tablet o pc, ya no queremos el color */
    background-color: aquamarine;
    background-color: currentColor;
    background-color: transparent; 
    color: olive;
    border: thick solid currentColor;
}

.opacity { /* aplica a todas las propiedades */
    background-color: orchid;
    color: navy;
    border: thick solid black;
    opacity: 0.5; /* del 0 al 1 */
    opacity: 1;
    opacity: 0.75;
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: .1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}