/* Estilos de la fuente
font-family
font-size
font-weight
font-style
font-variant
line-height - interlineado
*/

.font {
    font-family: monospace; /* tipografia tipo código */
    font-family:'Courier New', Courier, monospace;
    /* conjuntos de familia, encuentra la primera, si no está esa, carga la segunda y asi sucesivamente */
    font-size: 32px;
    font-weight: bold; /* el grosor igual depende de que tipografia elijamos */
    font-style: oblique; /* estilo que le queremos dar */
    /*font-variant: small-caps;  convierte a todas en mayusculas */
    font-variant: normal;
    line-height: 2;
}

/* font
Shorthand property for font-style font-variant font-weight font-size line-height and font-family. 
Si tuvieramos que usar todos, tendrian que estar en este orden
ej: 
font: italic small-caps bold 24px / 1.5 monospace  -> en orden y recordar poner el guión
*/

/* En el caso de que tenga mi tipografia en mi ordenador
Formato woff o woff2 - Web Open Font Format 

font-display:
auto- permite que el navegador utilice el método predeterminado que suele ser block
block - oculata brevemente el texto hasta que la fuente haya sido descargada por completo
swap - indica al navegador que utilice la fuente alternativa para mostrar el texto hasta que 
       la fuente personalizada se haya cargado por completo
fallback - es una mexcla de auto y swap
opcional - ocultará el texto, luego lo cargará con la fuente alternativa 
           y finalmente aplicará la fuente personalizada
*/
@font-face {
    font-family: "Chalet"; /* le asignamos un nombre */
    src: url("../assets/Chalet.woff")format("woff"); /* le indicamos la ruta y el tipo*/
   /* src: url("../assets/Chalet.woff2")format("woff2"); se pueden ir a buscar varios origenes*/
   font-display: swap;
}

.chalet {
    font-family: "Chalet", san-serif; /* poner una opcional */
    font-size: 2rem;
}

@font-face {
    font-family: "Pecita";
    src: url("../assets/Pecita.woff")format("woff");
    font-display: swap;
}

.pecita {
    font-family: "Pecita", cursive;
    font-size: 2rem;
}

/* https://fonts.google.com/ */
.raleway {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

/* 
text-aling
text-decoration
text-indent
text-overflow (para q funcione necesitamos las siguientes 2 cosas activadas)
    overflow hidden   -> oculta el contenido que desborda
    white-space: nowrap
text-transform
letter-spacing   -> espaciado de cada caracter
white-space  -> que el navegador respete todos los espacios en blanco que le hemos dado
word-break  -> rompe las palabras
word-spacing  -> espaciado entre las palabras
writing-mode  -> escritura en oriente no es igual que en occidente(puede que sea vertical)
*/

.text {
    font-size: 2rem;
    text-align: left;
    text-decoration: wavy;
    text-indent: 2rem; /* le da una sangria al párrafo */
    text-transform: uppercase; /* todas en mayuscula */
    text-transform: capitalize; /* letra inicial en mayuscula */
    text-transform: lowercase;
    letter-spacing: 1rem;
    word-break: break-all; /* rompe las palabras, para completar la caja */
    writing-mode: horizontal-tb; /* por defecto */
    writing-mode: vertical-rl;
}

.text a {
    text-decoration: none; 
    /* saca el subrayado pero queda el azul del enlace */
}

.text-overflow {
    background-color: rgb(122, 122, 122);
    border: thin solid blue;
    font-size: 2rem;
    padding: 1rem;
    width: 50%;
    text-overflow: ellipsis; /* para cards, si el texto no alcanza y desborda, pondrá al final ... */
    overflow: hidden; 
    white-space: nowrap;
}

.white-space {
    white-space: pre; /* respeta los espacios y queda como código */
}

.word-spacing {
    font-size: 2rem;
    word-spacing: 2rem;
}

/* icons */
/* https://fonts.google.com/icons */
/* https://icons.getbootstrap.com/  -> icons de boostrap */
/*  */
/* cdnjs - https://cdnjs.com/ */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }