/* 
Unidades de Medida
  1) Absolutas (Su valor no cambia, son unidades del mundo real) -ESTAS MEDIDAS SI ES QUE ES PARA IMPRESIÓN-
    pc, cm, mm, in, Q
    pt (1/72in)
    px (1/96in)
  2) Relativas (Su valor es relativo a un contexto)
    em, rem, ex, ch - al tamaño de la fuente
      em - basada en la anchura de la "m" de la fuente del elemento
      rem(rootem) -  basada en la anchura de la "m" de la fuente del elemento raíz (html) -TIPOGRAFIAS EN REMS
      ex - basada en la altura de la "x" de la fuente del elemento - SI QUEREMOS QUE DETERMINADAS PALABRAS ENTREN EN UNA TARJETA
      ch - basada en la anchura del "0" de la fuente del elemento
    % - al tamaño del contenedor
    vw, vh, vmin, vmax - al tamaño del viewport
      vw - ancho del viewport van de 1 a 100
      vh - alto del viewport van de 1 a 100
      vmax - entre vw y vh toma el que tenga mayor valor
      vmin - entre vw y vh toma el que tenga menor valor

  Conversiones entre unidades - https://pxtoem.com/
*/

/* receteo básico del tamaño de caja-- */
html {
  box-sizing: border-box;
  /* font-size: 20px; */
  font-size: 16px;  /* por defecto - SIEMPRE DEFINIRLO EN PIXELES*/ 
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* body {
  margin: 0; 
}*/
/* -- */

.pixels {
  background-color: cadetblue;
  width: 500px;
  height: 300px;
  padding: 20px;
  font-size: 30px;
  border: thick solid blue; /* thick 5 px */
}

.ems { /* 1 em es igual a 16px */
  background-color: cadetblue;
  font-size: 24px;
  padding: 1em .5em;
  border: thick solid rebeccapurple; 
}

.em-child {
  background-color: royalblue;
  border: thick solid beige;
  font-size: 2em; /* queda muy grande la letra porque la base tiene 24px */
  /* entonces si usamos em tenemos que tener en cuenta que fuente 
  tiene el contenedor padre, y sino solo usarlo en el contenedor padre */
  margin: .5em;
  padding: 1em;
}

/* Rems: con elemento hijo no pasa como con los ems,
toma como referencia el html */
.rems { 
  background-color: cadetblue;
  font-size: 24px;
  padding: 1rem 0.5rem;
  border: 5px solid pink; 
}

.rem-child {
  background-color: rgb(219, 63, 206);
  border: thick solid black;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
}

.exs { /* los ems están basados en la anchura de las m,
  y los exs en la altura de las x */
  background-color: cadetblue;
  font-size: 24px;
  padding: 1ex 0.5ex;
  border: thick solid rebeccapurple; 
}

.ex-child {
  background-color: rgb(197, 226, 93);
  border: thick solid blue;
  font-size: 2em;
  margin: 0.5ex;
  padding: 2ex;
}

/* 1 ch ocupa un caracter, 
entonces nos aseguramos que tenga tantos caracteres,
puede ser útil para formularios o cuando necesitamos que ocupe determinado ancho(columnas en el periodico) */
.chs { 
  background-color: rebeccapurple;
  color: white;
  width: 10ch; /* cubre solo 10 caracteres */
}

.porcentages {
  background-color: rgb(255, 0, 93);
  color: white;
  width: 80%; /* del total el 80% */
  font-size: 100%; /* de su tamaño de fuente, en este caso del html */
  padding: 5%; /* 5% del contenedor padre */
  margin: 10% 5%; 
  height: 100%; /* ignora la altura, xq será definida por el contenido */
  /* en la maquetación estará limitada la altura debido al contenido que haya,
  el body irá creciendo conforme crezca el contenido */
}

.height-parent {
  background-color: brown;
  width: 500px;
  height: 500px;
}

.height-child {
  background-color:darkgray;
  width: 50%;
  height: 50%;
}
/* entonces tiene que tener un contenedor padre bien definido,
ahí si tomara el porcentaje referido al padre */

.viewport {
  background-color: darkcyan;
  width: 50vw; /* siempre ocupara el 50% */
  width: 100vw; /* % */
  height: 50vh; /* no importa que altura total tenga, será la mitad */
  /* width 100vw -> me genera una barra de desplazamiento horizontal,
  es porque el body tiene margenes por defecto,
  para que no pase esto, le sacamos al body los márgenes,
  y la barra de scroll tambien forman parte del viewport,
  si uso %, no tendré problemas, se basa en el tamaño del contenedor */
  font-size: 5vw; /* las letras se haran mas chicas o grandes dependiendo del tamaño de pantalla */
  padding: 2vh 2vw;
}

.vmin, .vmax {
  background-color: darkkhaki;
  border: thick solid cyan;
  width: 50vmax;
  height: 50vmin;
}
