/* 
Unidades de Medida
  1) Absolutas (Su valor no cambia, son unidades del mundo real)
    pc, cm, mm, in, Q
    pt (1/72in)
    px (1/96in)
  2) Relativas (Su valor es relativo a un contexto)
    em, rem, ex, ch - al tamaño de la fuente
      em - basada en la anchura de la "m" de la fuente del elemento
      rem(rootem) -  basada en la anchura de la "m" de la fuente del elemento raíz (html)
      ex - basada en la altura de la "x" de la fuente del elemento
      ch - basada en la anchura del "0" de la fuente del elemento
    % - al tamaño del contenedor
    vw, vh, vmin, vmax - al tamaño del viewport
      vw - ancho del viewport van de 1 a 100
      vh - alto del viewport van de 1 a 100
      vmax - entre vw y vh toma el que tenga mayor valor
      vmin - entre vw y vh toma el que tenga menor valor

  Conversiones entre unidades - https://pxtoem.com/
*/

/* receteo básico del tamaño de caja-- */
html {
  box-sizing: border-box;
  /* font-size: 20px; */
  font-size: 16px;  /* por defecto */
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* -- */

.pixels {
  background-color: cadetblue;
  width: 500px;
  height: 300px;
  padding: 20px;
  font-size: 30px;
  border: thick solid blue; /* thick 5 px */
}

.ems { /* 1 em es igual a 16px */
  background-color: cadetblue;
  font-size: 24px;
  padding: 1em .5em;
  border: thick solid rebeccapurple; 
}

.em-child {
  background-color: royalblue;
  border: thick solid beige;
  font-size: 2em; /* queda muy grande la letra porque la base tiene 24px */
  /* entonces si usamos em tenemos que tener en cuenta que fuente 
  tiene el contenedor padre, y sino solo usarlo en el contenedor padre */
  margin: .5em;
  padding: 1em;
}

/* Rems: con elemento hijo no pasa como con los ems,
toma como referencia el html */
.rems { 
  background-color: cadetblue;
  font-size: 24px;
  padding: 1rem 0.5rem;
  border: 5px solid pink; 
}

.rem-child {
  background-color: rgb(219, 63, 206);
  border: thick solid black;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
}