html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.slides { /* para el efecto de este ejercicio -> */
    width: 100%;
    height: 100vh; /* Importante: este debe tener la medida del viewport */
    overflow-y: scroll; /* esto debe estar activado */
    /* scroll-snap-type: [X | Y | inline | block | both][mandatory | proximity]; */
    scroll-snap-type: none; /* no hacer el efecto */
    scroll-snap-type: block mandatory; /* para que funciones, la caja hija debe tener la propiedad activada -> */
    scroll-snap-type: y mandatory;
    scroll-snap-type: y proximity;
    scroll-snap-type: mandatory; /* mueve las diapositivas justas segun el viewport */
}

.slide {
    width: 100%;
    height: inherit;
    background-color: #1e2345;
    scroll-snap-align: none;
    scroll-snap-type: end;
    scroll-snap-type: start;
    scroll-snap-type: center;
}

.slide:nth-child(even) {
    background-color: #108eb4;
}

.slide-container {
    width: 100%;
    width: 80%; /* anchura del texto */
    height: inherit;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: aliceblue;
}

.carousel { /* scroll horizontal */
    border: thick solid #d938f0;
    display: flex;
    width: 50%;
    height: 50vh;
    overflow-x: hidden; 
}

.carousel-container { /* anchura y altura bien definidas y overflow en la linea q queremos controlar, en este caso x */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 100%);
    overflow-x: scroll ;
    overflow-y: hidden;
    scroll-snap-type: proximity;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #108eb4;
    scroll-snap-align: start;
    scroll-snap-align: center;
}

.carousel-slide:nth-child(even) {
    background-color: #1e2345;
}