html {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}

.box {
    width: 200px;
    height: 200px;
    border: thick solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.shadows {
    /* mov en x
    mov en y
    desenfoque radial: blur 
    expansión del desenfoque: spread-blur
    sombra interna o externa: inset - outset */
    color: navy; /* si no se especifica el color heredará el color del cuadro, del borde */
    font-size: 2rem;
    text-align: center;
    box-shadow: -1rem -1rem 1rem 1rem;
    box-shadow: 1rem 1rem 1rem 1rem #0005; /* color negro pero al 50% de opacidad */
    box-shadow: 1rem 1rem 1rem 1rem #4fc5cf inset;
    /* text-shadow: mov-x mov-y blur color */ 
    text-shadow: -1rem -1rem 0.5rem hotpink; /* blur, mientras mas nos acercamos a 0, más se nota las palabra */
}

.shadows-multiple {
    font-size: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem hotpink inset, -1rem -1rem 0.5rem 2rem rgb(87, 0, 128);
    text-shadow: -1rem -1rem 0.25rem navy, 1rem 1rem 0.25rem rgb(39, 243, 230);
}

/* filtros */
/* filter: drop-shadow(mov-x, mov-y, blur-radius, color); */
.drop-shadow {
    width: 600px;
    height: auto;
}

.drop-shadow img {
    max-width: 100%;
    box-shadow: 1rem 1rem 1rem red; /* aplica a la caja */
    filter: drop-shadow(1rem 1rem 1rem steelblue); 
    /* la sombra se la aplica a la foto (una foto con transparencia), no puede sombra multiple */
}

.linear-gradient { /* podemos usar solo background, pero es buena práctica q especifiquemos */
    background-image: linear-gradient(red, green);
    background-image: linear-gradient(red, green, yellow);
    background-image: linear-gradient(0deg,red, green, yellow);/* de 0 a 360grados puede girar */
    background-image: linear-gradient(20deg,red, green, yellow);
    background-image: linear-gradient(90deg,red, green, yellow);
    background-image: linear-gradient(to right,red, green, yellow);/* tamb podemos indicarle la dirección, el último color será el q se alinie */
    background-image: linear-gradient(to top,red, green, yellow);
    background-image: linear-gradient(to bottom,red, green, yellow);
    background-image: linear-gradient(to top left,red, green, yellow);/* el amarillo se irá arriba del lado izquierdo */
    background-image: linear-gradient(to bottom right,red, green, yellow);
    background-image: linear-gradient(90deg,red 30%, green 70%, yellow);
    background-image: linear-gradient(180deg, steelblue 33%, white 34% 67%, steelblue 68%);/* no es necesario que ponga del 0 al 33, se entiende, o del 68 al 100 */
}

.radial-gradient {
    background-image: radial-gradient(cyan, magenta);
    background-image: radial-gradient(cyan, magenta, yellow);
    background-image: radial-gradient(circle 4rem, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(
        circle 100px, 
        cyan 30%, 
        magenta 60%, 
        yellow 90%
    );
    background-image: radial-gradient(
        circle 100px at top, /* bottom, left, etc entonces el circulo baja, center, valor por defecto */
        cyan 30%, 
        magenta 60%, 
        yellow 90%
    );
    background-image: radial-gradient(
        circle 100px at bottom left, /* se puede combinar */
        cyan 30%, 
        magenta 60%, 
        yellow 90%
    );
    background-image: radial-gradient(
        ellipse 100px 50px, /* dimenciones en x y en y */
        cyan 30%, 
        magenta 60%, 
        yellow 90%
    );
    background-image: radial-gradient(
        circle 100px , 
        red 50%, 
        white 50%
    );
}

.conic-gradient {
    background-image: conic-gradient(navy, magenta);
    background-image: conic-gradient(navy, magenta, white);
    background-image: conic-gradient(navy 0% 50%, magenta 60%, white 80%);/* se puede controlar con porcentaje */
    background-image: conic-gradient( /* en grados */
        navy 0deg 90deg, 
        magenta 120deg 240deg, 
        white 270deg
    );
    background-image: conic-gradient( /* el extremo del cono cambia */
        from 90deg, 
        navy 0deg 90deg, 
        magenta 120deg 240deg, 
        white 270deg
    );
    background-image: conic-gradient( 
        from 180deg, 
        navy 0deg 90deg, 
        magenta 120deg 240deg, 
        white 270deg
    );
    background-image: conic-gradient(
        from 90deg,
        red 0deg 120deg,
        white 120deg 240deg,
        blue 240deg
    );
}

.repeat-gradient-linear {
    background-image: repeating-linear-gradient(
        blue 0 10px, 
        pink 10px 20px, 
        magenta 20px 30px
    );
    background-image: repeating-linear-gradient(
        45deg, /* <- cambio la direccion */
        blue 0 10px, 
        pink 10px 20px, 
        magenta 20px 30px
    );
}

.repeat-gradient-radial {
    background-image: repeating-radial-gradient(
        circle 4rem,
        cyan 0 10px,
        black 10px 20px,
        magenta 20px 30px
    );
}

.repeat-gradient-conic {
    background-image: repeating-conic-gradient(
        red 0 8%,
        yellow 8% 16%,
        green 16% 24%
    );
}

.chart-gradient {
    background-image: conic-gradient(cyan 0% 50%, magenta 50% 80%, grey 80%);
    border-radius: 50%;
}

.donut-gradient {
    background-image: 
        radial-gradient(white 20%, black 21%, transparent 23%), 
        conic-gradient(cyan 0% 50%, magenta 50% 80%, grey 80%);
    border-radius: 50%;
}

.card {
    width: 600px;
    height: 400px;
    border: thick solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%; /* que empieze en cero del lado izquierdo */
    filter: blur(1rem);
    filter: blur(0.25rem);
    filter: blur(0.15rem);
    filter: brightness(1); /* de 0 a 1 */
    filter: brightness(0.15); 
    filter: contrast(0);
    filter: contrast(0.75);
    filter: contrast(2);
    filter: grayscale(0.50);
    filter: grayscale(1); 
    filter: sepia(0.25);
    filter: sepia(1); /* vintage */
    filter: hue-rotate(30deg);
    filter: hue-rotate(60deg);
    filter: hue-rotate(150deg);
    filter: hue-rotate(240deg);
    filter: invert(0); /* invierte los colores */
    filter: invert(1); 
    filter: opacity(0); /* de 0 a 75 */
    filter: opacity(0.50);
    filter: opacity(0.75);
    filter: saturate(0);
    filter: saturate(0.75);
    filter: saturate(3);
}